<div id="userCreate" class="container" align="center" style="width: 300px">
    <form class="form-signin" action="/user/" method="post">
        <h2 class="form-signin-heading">Create user</h2>
        <input id="firstName" type="text" class="form-control" placeholder="first name" required>
        <input id="lastName" type="text" class="form-control" placeholder="last name">
        <button type="button" id="saveBtn" class="btn btn-primary btn-block">Save</button>
        <button type="button" id="cancelBtn" class="btn btn-default btn-block">Cancel</button>
    </form>
</div>

